page-login {
  .background {
      background-image: url('../assets/imgs/logo.png');
  }

.scroll-content {
  alig-content : center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
ion-input {
  border-radius: 5px;
}

ion-card.card {
  box-shadow: none;
  //background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/*a, p,
ion-card-header.card-header {
  color: #fff;
}*/
ion-img {
  //border: medium none;
  border-color: black;
  //border-radius: 30px;
  width: 160px;
  height: 160px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.list > .item-block:first-child {
  border: medium none;
}
 .item {
   margin-bottom: 10px;
   background: rgba(255, 255, 255, 0.5);
   border: medium none;

   .text-input {
      color: #fff;
   }

   *:-moz-placeholder,
   input::-moz-placeholder {
      color: #fff!important;
   }
 }

}
