page-home {

  button {
       font-size: 200px; //Preferred size here
       ion-card.card {
         box-shadow: none;
         background: rgba(0, 0, 0, 0.5);
         border-radius: 5px;
       }
   }
}
