<ion-header>

  <ion-navbar>
      <button icon-only menuToggle block round color="primary" ion-button outline>
      <ion-icon color="primary" name="menu" item-start></ion-icon>
      </button>
    <ion-title>
  		<div float-right>
        <button block round color="primary" ion-button outline>
  			     <ion-icon color="primary" name="cart" item-start (click)="goto('Cart')"></ion-icon>
        </button>
      </div>
	</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row text-center>
	   <ion-col col-6>
      <button block ion-button color="primary" round large (click)="goto('Audio')">
         <ion-icon iconlarge name="mic" item-start></ion-icon>
      <ion-card-content>
        Audio
      </ion-card-content>
    </button>
    </ion-col>
    <ion-col col-6>
  		<button block ion-button color="primary" round large (click)="getPicture()">
  		<ion-icon name="camera" item-start></ion-icon>
      <ion-card-content>
        Camara
      </ion-card-content>
      </button>
    </ion-col>
</ion-row>
<ion-row text-center>
    <ion-col col-6>
  		<button block ion-button color="primary" round large (click)="goto('Text')">
  		<ion-icon name="chatbubbles" item-start></ion-icon>
      <ion-card-content>
        Texto
      </ion-card-content>
      </button>
    </ion-col>
	  <ion-col col-6>
  		<button block ion-button color="primary" round large (click)="goto('Lists')">
  		<ion-icon name="clipboard" item-start ></ion-icon>
      <ion-card-content>
        Listas
      </ion-card-content>
      </button>
    </ion-col>
</ion-row>
<ion-row>
<ion-card>
  <ion-card-content>
  <ion-list no-lines>
    <button ion-button block outline round *ngFor="let opcion of opciones" (click)="goto(opcion)">
        {{ opcion }}
    </button>
  </ion-list>
  </ion-card-content>
</ion-card>
</ion-row>
<img [src]="image" *ngIf="image" />
</ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col col-3>
            <button ion-button color="secondary" round (click)="goto('Notifications')">
               <ion-icon color="primary" name="chatbubbles" item-start><small>15</small></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button round block outline (click)="goto('Others')">
            <ion-icon color="primary" name='arrow-down'></ion-icon>
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button outline (click)="gotocall('+34000')" color="secondary" round>
             <ion-icon name="call" color="primary" item-start></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>
